
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>製作中 - SOSO部落格</title>

</head>
<body>

    <div class="container mt-5">

        <div class="col text-center mb-5">
            <h1 class="text-secondary"><b>頁面製作中...</b></h1>
        </div>
        @*<div class="col text-center mb-3">
            <img class="img-fluid" src="~/Images/GGGGG.gif" title="山君山君ლ(́◕◞౪◟◕‵ლ)" alt="山君山君ლ(́◕◞౪◟◕‵ლ)" />
        </div>*@
        <div class="col text-center">
            <a class="btn btn-lg btn-outline-warning" href="@Url.RouteUrl("Homepage")">回首頁</a>
        </div>
       
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
