.clip{
    overflow:hidden; /*隱藏超出的部分*/
}

.clip-img-lg{
    width:100%;
    /*height:900px;*/ /*之前不知為何這樣寫*/
    height:auto;
    margin-top:-10%;
    margin-bottom:-10%;
}

/*不切了*/
.clip-img-xs { 
    width: 100%;
    height: auto;
}
